html{
  background-color: #81d2c7;
}

.oreo {
  height: 60vh;
  overflow:hidden;
  margin: 5px 20vw 20px 20vw;
  border: solid #36558f 5px;
  padding: 5px 2px;
}
.oreoForm{
  clear: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  width: 40px;
  border: solid #36558f;
  border-radius: 7px;
  margin-top: 5px;
  background-color: #e0e0e2;
}
/*
.sweets{
  float: left;
  margin-left: 40vw;
}
*/
.title{
  color: #36558f;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}
h4 {
  position: fixed;
  color: #fe5d26;
  border-bottom:solid #fe5d26;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  margin-right: 20vw
}

.result{
  color: #25201D;
  width: 60vw;
  margin: 0px 20vw;
  font-size: 20px;
  font-weight: 700;
}

.share-button {
  position: fixed;
  margin-left: 5vw;
  bottom: 10px;
}